.wp-block-nickhiebert-home-about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
